{{ $content_type := .Params.content_type }}
{{ $confPage := .Site.GetPage $content_type }}
{{ $items := $confPage.Params.news_items }}
{{ $num := $confPage.Params.num_news }}

<ul class="conf-list">
    {{ range first $num (sort $items "date" "desc") }}
    <li class="conf-item">
        <span class="conf-type">{{ .type }} &ndash;</span>
        {{ if .link }}
        <a class="conf-name" href="{{ .link }}" target="_blank">{{ .conf }}</a>
        {{ else }}
        <span class="conf-name">{{ .conf }}</span>
        {{ end }}
        {{ if .conf_long }}<span class="conf-long"> {{ .conf_long }}</span>{{ end }}
        {{ if .extra_text }}<span class="conf-meta"> &middot; {{ .extra_text }}</span>{{ end }}
    </li>
    {{ end }}
</ul>
