{{ $content_type := .Params.content_type }}
{{ $confPage := .Site.GetPage $content_type }}
{{ $items := $confPage.Params.news_items }}
{{ $num := $confPage.Params.num_news }}

<div class="conf-list row w-100">
    <div class="col w-100">
        {{ range first $num (sort $items "date" "desc") }}
        <div class="conf-item row w-100">
            <div class="col w-100">
                {{ if .link }}
                <a href="{{ .link }}" target="_blank" class="conf-link">{{ markdownify (emojify .text) }}</a>
                {{ else }}
                <span>{{ markdownify (emojify .text) }}</span>
                {{ end }}
                {{ if .extra_text }}
                <span class="conf-meta text-muted">&ensp;·&ensp;{{ markdownify (emojify .extra_text) }}</span>
                {{ end }}
            </div>
        </div>
        {{ end }}
    </div>
</div>
